#quote-box {
  background-color: #ccccff;
  width: 400px;
  margin-top: 25px;
}

#tweet-quote {
  color: white;
  text-decoration: none;
}

.imgs {
  width: 20rem;
  height: 20rem;
  /*padding: 1rem;*/
  margin: 1rem;
}

#rover-photos {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding: 0.5rem;
}

div h1 {
  font-family: "Tangerine", cursive;
  margin-top: 5%;
  margin-bottom: 5%;
}